
a {
  color: #00a8ff;

}

a:hover {
  color: #007bff;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;

}

button {
  background-color: #212121;
  color: #e0e0e0;
  border: 1px solid #424242;

}

button:hover {
  background-color: #303030;

}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #424242;

}


.card {
  background-color: #212121;
  border: 1px solid #424242;
}


table {
  border-color: #424242;

}


.movie-item {
  background-color: #212121;

}

.navbar {
  background-color: #181818;

  a {
    color: #ffffff;
  }
}

body {
  background-color: #181818;
  color: #e0e0e0;
}


.page-header {
  background-color: #282828;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header h1 {
  color: #D2AE12;
  font-size: 1.8em;
  margin: 0;
}

.page-header a {
  color: #e0e0e0;
  text-decoration: none;
  margin-left: 1rem;
}

.page-header a:hover {
  color: #D2AE12;
}